{% load staticfiles %}
<!doctype html>
<html>
    {% include  'xd/common/head.html' %}
	<body>
        {% include 'xd/common/header.html' %}
				<div class="index-abt">
					<div class="container">
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-euro"> </i></div>
								<h3>Voluptatem</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>

						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-share"> </i></div>
								<h3>Accusantium</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-screenshot"> </i></div>
								<h3>Dolore magna</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
						</div>
						<div class="col-md-3 index-abt1">
							<div class="abt-img"><i class="glyphicon glyphicon-btc"> </i></div>
								<h3>Eros Integer</h3>
								<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem.</p>
						</div>
					</div>
				</div>

<div class="index-p">
	<div class="container">
		<div class="col-md-6 green-gird">
			<img src="{% static 'images/index-p.jpg' %}" alt=""/>
			<img src="{% static 'images/index-p1.jpg' %}" alt="" />
		</div>
		<div class="col-md-6 index-ptext">
			<h3>Sed ut perspiciatis unde omnis iste natus error</h3>
			<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. </p>
			<a href="about.html">Read More<i class="glyphicon glyphicon-arrow-right"> </i></a>
		</div>
	</div>
</div>

<div class="clearfix"> </div>
<div class="index-works">
	<div class="container">
		
			<div class="col">
				<div class="col2">
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{STATIC_URL}}images/we.jpg" alt=""/>
							<figcaption>
						    <h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
					  </figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Sapien eros Integer dolore magna</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
								totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{STATIC_URL}}images/we1.jpg" alt=""/>
							<figcaption>
						    <h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
					  </figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Sapien eros Integer dolore magna</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
								totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta 
								sunt explicabo.</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{STATIC_URL}}images/w32.jpg" alt=""/>
							<figcaption>
						    <h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
					  </figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Sapien eros Integer dolore magna</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem .</p>
						</div>
					</div>
				</div>
							<div class="clearfix"> </div>
			</div>
			<div class="col next-col">
				<div class="col2">
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{STATIC_URL}}images/w32.jpg" alt=""/>
							<figcaption>
						    <h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
					  </figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Accusantium</h3>
							<p>Natus error sit voluptatem accusantium doloremque. </p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{STATIC_URL}}images/we1.jpg" alt=""/>
							<figcaption>
						    <h4>Enimet pulvinar posuere</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
					  </figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Voluptatem</h3>
							<p>Eaque ipsa quae ab illo inventore</p>
						</div>
					</div>
					<div class="col-md-4 col1">
						<figure class="effect-bubba">
							<img class="img-responsive" src="{{STATIC_URL}}images/we.jpg" alt=""/>
							<figcaption>
						    <h4>Eros Integer</h4>
								<p>In sit amet sapien eros Integer dolore magna aliqua</p>	
							</figcaption>			
					  </figure>
						<div class="clearfix"> </div>
						<div class="effect-gird">
							<h3>Dolore magna</h3>
							<p>voluptatem accusan</p>
						</div>
					</div>
				</div>
							<div class="clearfix"> </div>
			</div>
			</div>
		</div>
        <script src="{{STATIC_URL}}js/responsiveslides.min.js"></script>
 <script>
    $(function () {
      $("#slider").responsiveSlides({
      	auto: true,
      	nav: true,
      	speed: 500,
        namespace: "callbacks",
        pager: true,
      });
    });
  </script>
<div class="slider">
	 <div class="container">
		   <div class="callbacks_container">
			  <ul class="rslides" id="slider">
				 <li>	          
					 <h3>On the other hand, we denounce with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</h3>		          
				 </li>
				 <li>	          
					<h3>DenounceOn the other hand, we with righteous indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</h3>	          
				 </li>
				 <li>	          
					<h3>Righteous On the other hand, we denounce with indignation and dislike men who are so beguiled and demoralized by the charms of pleasure of the moment, so blinded by desire, that they cannot foresee the pain and trouble that are bound to ensue</h3>	          
				 </li>
			  </ul>
		  </div>
	  </div>
</div>

<!--footer-starts-->
{% include 'xd/common/footer.html' %}
        <!---->
	</body>
</html>
